<form>
  {{#modal-dialog}}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Dismiss">&times;</button>
      <h4 class="modal-title">Ajout rapide!</h4>
    </div>
    <div class="modal-body pull-up-30">
      <div class="form-group {{if isFormInvalid "has-error"}}">
        {{input value=transactionToParse class="form-control transaction-parse" placeholder="Example: 10 tickets"}}
        <div class="help-block">
          Par exemple: 24/12 40 Tickets de musée
        </div>
        <div>
          {{#if transaction}}
            {{transaction-list-item transaction=transaction}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left btn-add-with-details" {{action "addWithDetails"}} data-dismiss="modal">Ajouter avec des détails</button>
      <button type="submit" class="btn btn-primary btn-add" {{action "add"}} disabled={{isFormInvalid}}  data-dismiss="modal">Ajouter</button>
    </div>
  {{/modal-dialog}}
</form>
