<h4>Comment équilibrer vos dépenses?</h4>

{{#if anyTransfers}}
  <div class="panel panel-default">
    <div class="panel-body">
      {{#each transfers as |transfer|}}
        <li class="settlement-item">
          <strong>{{transfer.sender.name}}</strong> doit à <strong>{{transfer.recipient.name}}</strong>
          <span class="text-nowrap">
            {{format-money transfer.amount symbol=transfer.currency.code format="%v %s"}}
          </span>
          <button class="btn btn-sm btn-success" {{action (action settleUp transfer)}}>
            Remboursé!
          </button>
        </li>
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="alert alert-info" role="alert">
    Il n'y a pas besoin de configurer.
  </div>
{{/if}}